.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #dddddd;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  text-align: left;
  background-color: #27477C;
  position: sticky;
  top: 0;
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navitem{
  text-transform: uppercase;
  font-size: 14pt;
  letter-spacing: 1pt;
  display: inline-block;
  padding: 4pt 8pt;
  border: none;
  background-color: inherit;
  color: white;
}

.navitem:hover{
  background-color: #3D79DB;
}

.nav-active{
  background-color: #ddeeff;
  color: black;
}

.nav-active:hover{
  background-color: #C1E0FF;
  color: black;
}

.mobile-only{
  display: none;
}

.desktop-only{
  display: initial;
}

a.nav-active{
  color: black;
}

.title{
  font-size: 26pt;
}

.subtitle{
  font-size: 12pt;
  text-transform: uppercase;
  letter-spacing: 1pt;
}

.capitalize{
  text-transform: capitalize;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.block{
  display: block;
}

.nodisp{
  display: none;
}

.v-align-mid{
  vertical-align: middle;
}

.list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.list-item{
  width: 45vw;
  height: 48pt;
  /*border: 1px solid black;*/
  display: inline-block;
  text-align: left;
  vertical-align: top;
  flex-grow: 1;
  flex-basis: 45%;
  font-size: 20pt;
  padding: 6pt;
  margin: 3pt;
  background-color: white;
}

.hidden-link{
  text-decoration: none;
  color: black;
}

.list-item:hover{
  background-color: #ddeeff;
  color: blue;
}

.pgnum{
  font-size: 14pt;
}

.loading{
  font-size: 20pt;
  color: #404040
}

.pgnav{
  margin: 6pt;
}

.detail-header{
  min-height: 96px;
  text-align: left;
  padding: 6pt;
  margin: 6pt;
  background-color: white;
}

.detail-split-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.detail-content{
  /*width: 45vw;*/
  text-align: left;
  padding: 6pt;
  margin: 6pt;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  flex-grow: 1;
  flex-basis: 0;
}

.big-button{
  font-size: 16pt;
}

.small-text{
  font-size: 10pt
}

.center{
  text-align: center;
}

.sep4{
  display: inline-block;
  width: 4pt;
}

.sep6{
  display: inline-block;
  width: 6pt;
}

.sep8{
  display: inline-block;
  width: 8pt;
}

.sep10{
  display: inline-block;
  width: 10pt;
}

/* for mobile devices */
@media(max-aspect-ratio: 3/2){
  .mobile-only{
    display: initial;
  }

  .navitem{
    display: block;
    /*width: 100vw;*/
    text-align: center;
    padding: 10pt 6pt;
  }

  .nav-active{
    font-weight: bold;
  }

  .list-container{
    display: block;
    text-align: center;
  }

  .list-item{
    display: block;
    width: initial;
  }

  .detail-split-container{
    display: block;
  }

  .detail-content{
    display: block;
    width: initial;
  }
}